{% extends 'shelf/main.html' %}
{% load static %}


{%block content %}
<div class="container">
	<h2 class="text-center">Contact Us</h2>
	<div class="row">
		<p>Find Us on:</p>
		<div class="cotainer">
			<div class="row">
				<div class="col-md-10">
					<div class=" d-flex flex-row">
						<a href="faceebook.com/ClarkUniversityWorcester"><i
								class="fab fa-facebook fa-2x"></i>/claruku</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="col-md-4 mx-auto">
			<form method="POST" action="" class="form">
				{% csrf_token %}
				<div class="message ">
					<div class="input-group">
						<label class="form-label">{{"Name : "}} </label>
						<input type="text" class="for-control" name="">
						
					</div>
					<div class="input">
						<b>{{"Email : "}} </b>{{form.email}}
					</div>
					<div class="input">
						<b>Message :</b> <br> {{form.message}}
					</div>
				</div>
				<div>
					<input class="btn " type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
</div>
<!-- js code for toggle menu -->
<script>
	var GetMenuItems = Document.getElementById("MenuItems");
	MenuItems.style.maxHeight = "0px";

	function MenuToggle() {
		if (MenuItems.style.maxHeight == "0px") {
			MenuItems.style.maxHeight = "200px"

		} else {
			MenuItems.style.maxHeight = "0px"
		}
	}
</script>