{% extends 'shelf/main.html' %}
{% load static %}
{%block content %}
<div class="container mb-5">
	<h2 class="text-center">Contact Us</h2>
	<p class="text-center mb-3">
		<a href="https://www.instagram.com/firmpantry/"><i class="fab fa-instagram fa-2x"></i></a>
		<a href="https://www.faceebook.com/ClarkUniversityWorcester/">
			<i class="fab fa-facebook fa-2x ml-2"></i></a>
	</p>
	<p class="text-center fw-bold">
		-OR Message Us-
	</p>

	<div class="row mx-auto">
		<div class="col-md-4 mx-auto">
			<form method="POST" action="" class="form">
				{% csrf_token %}
				<div class="message ">
					<div class="">
						<label class="form-label">Name</label>
						<input type="text" class="form-control" name="name">

					</div>
					<div class="input">
						<label for="email" class="form-lable">Email:</label>
						<input type="email" name="email" id="email" class="form-control">
					</div>
					<div class="">
						<label for="message" class="form-lable">Message</label>
						<textarea name="message" class="form-control" id="message" cols="9"></textarea>
					</div>
				</div>
				<div>
					<input class="btn bg-primary text-white mt-3 " type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
</div>
<!-- js code for toggle menu -->
<script>
	var GetMenuItems = Document.getElementById("MenuItems");
	MenuItems.style.maxHeight = "0px";

	function MenuToggle() {
		if (MenuItems.style.maxHeight == "0px") {
			MenuItems.style.maxHeight = "200px"

		} else {
			MenuItems.style.maxHeight = "0px"
		}
	}
</script>