{% extends 'shelf/main.html' %}

	
{%block content %}
<div class="search_bar">
	<div class="form">
		<form method="get">
			{{myFilter.form}}

			<button class= "btn"> Search </button>
		</form>
	</div>
</div>

<div class="row">
	{%for i in perishable_items%}
		<div class="col-4">
			
			<img src="images/Nike_Air_Force_1_'07_trainers_in_black.jpg">
			<h4>{{i.name}}</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p class="Stock">In Stock: {{i.Stock}}</p>
			
		</div>
	
		{% endfor %}

		
	
</div>

{% endblock %}